

.show-grid {
    margin-bottom: 15px
}

.message-text {
	margin-top: 30px
}

.refrect{
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

#navi-footer {
  position: absolute;
  bottom: 0;
  width: 250px;
  /* Set the fixed height of the footer here */
  height: 24px;
  background-color: rgba(255,255,255,.2);
}

#navi-footer > .container {
  /*padding-right: 15px;*/
  /*padding-left: 15px;*/
}
