@(msg: String, datas: List[Message], datas2: List[Member])

@main("Welcome to Play Sample") {

<div class="page-content inset">

    <p class="lead">Playframework2であそんでます</p>
    
    <p>@msg</p>

    <pre>message = @{datas.size} member = @{datas2.size}</pre>

	<hr>

    <div class="bs-docs-grid">
    @for(msg <-datas){
        <div class="row show-grid">
            <p>@msg.id</p>
            <div class="col-md-2 text-right">
                <img src="@routes.Assets.at("images/icons/icont17.png")" alt="@msg.name" class="img-thumbnail refrect">
            </div>
            <div class="col-md-5"><pre class="message-text">@msg.message</pre></div>
        </div>
    }
    </div>

    <!-- 右向き -->
    <!--<div class="row show-grid">-->
        <!--<div class="col-md-1"></div>-->
        <!--<div class="col-md-5"><pre class="message-text">弓塚さつきです。よろしくお願いします m(_ _)m。</pre></div>-->
        <!--<div class="col-md-2 text-left">-->
            <!--<img src="@routes.Assets.at("images/icons/icont20.png")" alt="さっちん" class="img-thumbnail">-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="row show-grid">-->
    <!--</div>-->
    <!---->
</div>

}
